
<div class="card">
    <div class="card-header">
        <h6 class="card-title">Empleados</h6>
    </div>
    <div class="card-body">
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" style="margin: 10px;" onclick="abrirModal(null)">
            Crear Nuevo
        </button>

        <table id="tabla" class="table w-100">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Sexo</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="formModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-dark">
                <h5 class="modal-title text-white">Usuario</h5>
                <button type="button" class="btn-close bg-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <input id="txtId" type="hidden" value="0" />

                <div class="row g-2">
                    <div class="col-sm-6">
                        <label for="txtNombre" class="form-label">Nombre</label>
                        <input type="text" class="form-control" id="txtNombre" autocomplete="off">
                        <span asp-validation-for="Nombre"></span>
                    </div>

                    <div class="col-sm-6">
                        <label for="txtApellido" class="form-label">Apellido</label>
                        <input type="text" class="form-control" id="txtApellido" autocomplete="off">
                        <span asp-validation-for="Apellido"></span>
                    </div>
                    <div class="col-sm-6">
                        <label for="cboSexo" class="form-label">Genero</label>
                        <select id="cboSexo" class="form-select">
                            <option value="0" disabled>Seleccione</option>
                            <option value="m">Masculino</option>
                            <option value="f">Femenino</option>
                        </select>
                        <span asp-validation-for="Sexo"></span>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-12">
                        <div id="mensajeError" class="alert alert-danger" role="alert">

                        </div>
                    </div>
                </div>
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" onclick="Guardar()">Guardar</button>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
        var dataTabla;
        var filaSeleccionada;

        dataTabla = $("#tabla").DataTable({
            responsive: true,
            ordering: false,
            "ajax": {
                 url: "@Url.Action("ObtenerEmplados", "Empleado")",
                 type: "GET",
                dataType: "json",
                contentType: "application/json"
            },
            "columns":
                [
                    { "data": "Nombre"},
                    { "data": "Apellido"},
                    { "data": "Sexo" },
                    {
                        "defaultContent": "<button type='button' class='btn btn-primary btn-sm btn-editar'><i class='fa fa-pen'></i></button>" +
                            "<button type='button' class='btn btn-danger btn-sm ms-2 btn-eliminar'><i class='fa fa-trash'></i><</button>",
                        "orderable": false,
                        "searchable": false,
                        "width": "90px"
                    }
                ],
            "language": {
                "url": "https://cdn.datatables.net/plug-ins/1.11.3/i18n/es_es.json"
            }
        });
        function abrirModal(json) {
           $("#txtId").val(0);
            $("#txtNombre").val("");
            $("#txtApellido").val("");
            $("#cboSexo").val("");

            if (json != null) {
                $("#txtId").val(json.Idempleado);
                $("#txtNombre").val(json.Nombre);
                $("#txtApellido").val(json.Apellido);
                $("#cboSexo").val(json.Sexo);
            }
            $("#formModal").modal("show")
            $("#mensajeError").hide()
        }
        $("#tabla tbody").on("click", ".btn-editar", function () {
            filaSeleccionada = $(this).closest("tr");
            var datos = dataTabla.row(filaSeleccionada).data();
            abrirModal(datos);
        });

        $("#tabla tbody").on("click", ".btn-eliminar", function () {
            filaSeleccionada = $(this).closest("tr");
            var datos = dataTabla.row(filaSeleccionada).data();
            let urlEliminar = '@Url.Content("~/Empleado/EliminarEmpleado?Id=")' + datos.Idempleado;
            var confirmar = confirm("Esta seguro que desea eliminar este registro")

            if (confirmar) {
                //document.location.href = '@Url.Content("~/Empleado/EliminarEmpleado?Id=")' + datos.Idempleado;

                jQuery.ajax({
                    url: urlEliminar,
                    data: {
                        Id: datos.Idempleado
                    },
                    type: "GET",
                    dataType: "json",
                    contentType: "application/json",
                    success: function (data) {
                        if (data.resultado) {
                            alert("Eliminado con exito");
                            dataTabla.row(filaSeleccionada).remove().draw(false)
                        }
                    },
                    error: function (error) {
                        console.log(error);
                    }
                })

            }
        });

        function Guardar() {

            var empleado = {
                    Idempleado: $("#txtId").val(),
                    Nombre: $("#txtNombre").val(),
                    Apellido: $("#txtApellido").val(),
                    Sexo: $("#cboSexo").val()
            };


            jQuery.ajax({
                url: "@Url.Action("GuadarEmpleado", "Empleado")",
                type: "POST",
                data: JSON.stringify( empleado) ,
                dataType: "json",
                contentType: "application/json; charset= utf-8 ",
                success: function (data) {

                    let resultado = data.resultado;

                    console.log(data.resultado)
                  $(".modal-body").LoadingOverlay("hide");
                    //empleado nuevo
                    if (empleado.Idempleado == 0) {
                        if (resultado != 0) {
                            empleado.Idempleado = resultado;
                            dataTabla.row.add(empleado).draw(false);
                            $("#formModal").modal("hide");
                        } else {
                            $("#mensajeError").text();
                            $("#mensajeError").show();
                        }
                    }
                    //empleado editar
                    else {
                        if (resultado) {
                            dataTabla.row(filaSeleccionada).data(empleado).draw(false);
                            filaSeleccionada = null;
                            $("#formModal").modal("hide");
                        } else {
                            $("#mensajeError").text(data.mensaje);
                            $("#mensajeError").show();
                        }
                    }
                },
                error: function (error) {

                    console.log(error)
                  $(".modal-body").LoadingOverlay("hide");
                    $("#mensajeError").text("Error Ajax");
                    $("#mensajeError").show();
                },
                beforeSend: function () {
                  $(".modal-body").LoadingOverlay("show", {
                        imageResizeFactor: 2,
                        text: "Cargando...",
                        size: 14
                    })
                },
            });
        }
    </script>
}
